
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm</title>
</head>
<body>
    <div>
        Confirm order
    </div>
    <pre>
        Hi sir/madam
            We just need to confirm your order for complete buying process.
            Click<a href="@ViewBag.confirmationLink">Here</a>

    </pre>
</body>
</html>
